*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #eb1889;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(fondo.gif);
    position: relative;
    padding-bottom: 12rem;
    min-height: 100vh;
}

nav {
    background: #eb1889;
    height: 80px;
    width: 100vw;
    box-shadow: 2px 0 20px rgba(0, 0, 0, .6);
}

.enlace {
    position: absolute;
    padding: 5px 50px;
}

.logo {
    height: 70px;

}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

nav ul li a {
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: 'Nunito', sans-serif;
}

nav li a:hover {
    background-color: #f66bb5;
    transition: .4s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: #fff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a {
        font-size: 28px;
    }

    li a:hover,
    li a.active {
        background: #eb1889;
        color: #fff;
    }

    #check:checked~ul {
        left: 0;
    }
}

.contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
}

.content {
    height: auto;
    padding: 1rem;
}

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    z-index: -20;
    height: 100vh;

}

.slider ul {
    display: flex;
    padding: 0;
    /*width: 400%;*/
    animation: cambio 10s infinite alternate;
    z-index: -20;

}

.slider li {
    width: 100vw;
    list-style: none;
    z-index: -20;

}

.slider img {
    width: 100vw;
    z-index: -20;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -200%;
    }
}

details {
    background: #fff;
    border-radius: 4px;
    margin: 2rem;
    cursor: pointer;
    height: auto;
    color: #fff;
    font-size: 18px;
    width: 90vw;
}

summary {
    background: #eb1889;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

summary:hover {
    background-color: #f66bb5;
    transition: .4s;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.grid_item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);
}

.grid_container,
.wide,
.tall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
    grid-auto-rows: minmax(290px, auto);
    gap: 10px;
    padding: 10px;
    grid-auto-flow: dense;
    justify-content: center;
    overflow: hidden;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);

}

.wide {
    grid-column: span 2;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);
}

.tall {
    grid-row: span 2;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);
}

@media (max-width: 858px) {

    .grid_container,
    .wide,
    .tall {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
        grid-auto-rows: minmax(150px, auto);
    }
}

footer {
    background-color: #eb1889;
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    padding: 1rem 0 2rem 0;
    bottom: 0;
}

footer a {
    color: #fff;
    padding: 7px 13px;
    font-size: 30px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 50px 50px 0px 100px;
    margin-left: 0px;
    align-content: center;
}

.ubicacion {
    min-width: 650px;
    height: auto;
    background-color: #eb1889;
    margin: 10px 10px 10px 0px;
    color: #fff;
    padding: 20px 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);
}

/*.formulario-contacto{
    height: auto;
    margin: 10px 0px 0 0px;
    color: #eb1889;
    padding: 20px 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);    
    z-index: -25;
}*/

.formulario {
    width: 650px;
    max-width: 100%;
    margin-top: 30px;
    padding: 20px;
    color: #eb1889;
    height: auto;
    margin: 10px 0px 0 0px;
    padding: 20px 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);
    position: relative;
}

.formulario-titulo,
hr {
    text-align: center;
    margin-top: 0;
    color: #eb1889;
}

.formulario-input,
.formulario-label,
.formulario-submit {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #eb1889;
}

.formulario-input {
    padding: 20px;
    border: 1.5px solid rgba(222, 33, 165, 0.7);
    margin-bottom: 40px;
    background: rgba(245, 100, 182, 0.1);
    color: #d58cb3;
    padding-left: 80px;
}

.formulario-input:focus {
    outline: 2px solid rgba(222, 33, 165, 0.7);
}

.formulario-input:focus+.formulario-label {
    margin-top: -95px;
}

.formulario-label {
    padding-left: 15px;
    position: absolute;
    margin-top: -80px;
    z-index: -20;
    color: #eb1889;
    transition: all 0.2s;
}

.formulario-submit {
    background: #eb1889;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .3);
}

.recetario {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.segmento-recetario {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #fff;
    width: 95vw;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);
}

.segmento-recetario img {
    object-fit: cover;
    width: auto;
    max-width: 300px;
    margin: 30px;
}

.receta {
    border-left: groove 4px #eb1889;
    max-width: 60rem;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.receta a {
    margin: 0 50px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: #eb1889;
}

a {
    text-decoration: none;
}

#resumen-receta {
    color: #000;
    padding: 20px 50px;
    line-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}


@media screen and (max-width: 950px) {
    .segmento-recetario {
        flex-direction: column-reverse;
        justify-content: center;
        align-content: center;
        margin: 40px 0 0;
        display: flex;
        flex-direction: row;
        font-size: auto;
        text-align: center;
    }

    .segmento-recetario img {
        object-fit: cover;
        width: auto;
        max-width: 50rem;
        display: block;
        text-align: center;

    }

    .receta {
        border-left: none;
    }
}